.container {
  grid-area: message-feed;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  padding: 1rem;
  @media (width < 768px) {
    margin-bottom: 10px;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 100%;

}

.message {
  border-radius: 15px;
  padding: 10px 20px;
  min-width: 272px;
  max-width: 272px;
  word-wrap: break-word;

  @media (width < 768px) {
    min-width: 215px;
    max-width: 215px;
    padding: 5px 15px;
  }
}

.server {
  border: 1px solid #FEF9CC;
  color: #FEF9CC;
  align-self: flex-end;
}

.client {
  align-self: flex-start;
  border: 1px solid #fff;
  color: #fff;
}