.container {
  max-width: 77.4375rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 4.375rem;

  .list{ 
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3.375rem 0;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    list-style: none;

    &:nth-child(2n+2) {
      transform: translateX(96px);
    }
  }
}

@media (width <= 1440px) {
  .container {
    margin: 0 0 0 auto;
  }
}