.container {
  max-width: 77.4375rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 4.375rem;

  .wrapper {
    position: relative;
  }

  .target {
    position: absolute;
    top:0;
    left: 0;
  }

  .lists {
    width: 100%;
    transition: var(--transition) width;
    margin-left: auto;
  }

  .lists.active {
    width: 646px;

    .list li {
      margin-right: 1.25rem;
    }
    
  }

  .list{ 
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 3.375rem;

    li {
      margin-right: 12.375rem;

      @media (width <= 1210px) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &:nth-child(even) {
      margin-left: 96px;

      @media (width < 768px) {
        margin-left: 0;
      }
    }
  }

  .row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: var(--primary-bg);
    z-index: 50;
  }
}

@media (width <= 1210px) {
  .container .list {
    justify-content: center;
  }
}

@media (width <= 1440px) {
  .container {
    margin: 0 auto;
  }
}


@media (width <= 1024px)
{
  .container {
    .lists.active {
      width: 100%;

      .list li {
        margin-right: 0;
      }
    }

    .list {
      justify-content: center;
    }
  }
}

.button {
  margin: 0 auto;
}


@media (width < 768px) {
  // margin-left: 0;
}