.loading-container {
  max-width: 680px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  border: 3px solid #FEF9CC;
  border-radius: 61px;
  padding: 56px 175px;
  background-color: var(--primary-bg);
  margin: 0 auto;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: var(--transition) transform, 
              var(--transition) visibility,
              var(--transition) opacity;
  opacity: 0;
  visibility: hidden;


  @media (width <= 768px) {
    padding: 42px 84px;
  }

  @media (width < 428px) {
    padding: 35px 5px;
  }

  p {
    font-size: 1.875rem;
    line-height: 100%;

    @media (width <= 992px) {
      font-size: 1.5625rem;
    }
  }

  div {
    position: relative;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%, #FEF9CC 0deg, #FBE64D 0.84deg, #FEF9CC 360deg);
    animation: rotate 1s infinite linear;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 75%;
      height: 75%;
      background: var(--primary-bg);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0);
  }
}