.file-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 31px;
  transition: var(--transition) height;
  margin-bottom: 1.5rem;

  input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.625rem 0.75rem;
    margin: 0;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid var(--border-color);
    border-radius: 61px;
    position: relative;
    left: -1px;
    background-color: var(--primary-bg);
  }

  .upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    margin-left: 1.25rem;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    flex-direction: column;
    margin: auto;
    cursor: pointer;
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
  }

  .file-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 520px;
    white-space: nowrap;

    .name {
      overflow: hidden;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1;
    }
  }

  &.error {
    border-color: var(--error-color);
    outline-color: var(--error-color);

    .file-input__label{
      border-color: var(--error-color);
    }
  }
}

.notice {
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.045em;

  span {
    display: block;
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (width <= 992px) {
  .file-input {
     margin-bottom: 0.625rem;

    //  overflow: hidden;

     &__label {
      padding: 0.5rem 1rem 0.5rem 0.5rem;
      font-size: 1rem;
      text-transform: capitalize;
     }

     .upload-icon {
      width: 1.5rem;
      height: 1.2rem;
     }

     .close {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: 1rem;
     }

     .file-item .name{
      font-size: 1rem;
      line-height: 1;
    }
  }

  .notice {
    font-size: 1rem;
  }
}

@media (width <= 425px) {
  .file-input {
    flex-direction: column;
    border-radius: 31px;
    overflow: visible;

    &__label {
      width: 100%;
      justify-content: space-between;
    }

    .file-item {
      padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
  }
}