.app {
  display: flex;
  background-color: #303030;
  height: 100vh;
}

.chat-block {
  display: flex;
  flex: 1 1 85%;
  flex-direction: column;
  justify-content: space-between;
}

@media (width < 768px) {
  .chat-block {
    flex: 1 1 95%;
  }
}
