.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1690px;
  min-height: 85px;
  width: 100%;
  padding: 0 70px;
  margin: 0 auto;

  @media (width <= 768px) {
    & {
      padding: 0 15px;
    }
  }
}

.phoneBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.phoneIconLink {
  width: 38px;
  height: 38px;
}

.phoneIcon {
  width: 100%;
  height: 100%;
}

.rights {
  text-align: center;
  padding: 5px 0;
  color: rgba(255, 255, 255, 0.55);
  font-style: italic;
  font-weight: 400;
  font-size: 0.8rem;
}

.phoneNumber {
  transition: var(--transition) color;
  font-size: 16px;
  letter-spacing: 0.045em;
  
  @media (any-hover: hover) {
    &:hover {
      color: var(--accent-color-light);
    }
  }

  @media (width <= 767px) {
    & {
      display: none;
    }
  }
}