.steps-main-block {
  text-align: center;

  p:not(.step p) {
    font-size: 1.875rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    &:last-child:not(.step p) {
      margin-bottom: 2.25rem;
    }
  }

  @media (width <= 992px ) {
    display: none;
  }
}

.step-container {
  display: flex;
  gap: 3.5625rem;
  margin: 2.0625rem 0 3.375rem;
}

.step {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  max-width: 15.625rem;
  width: 100%;
  padding: 12px 25px 27px;
  background: linear-gradient(151.13deg, rgb(245 245 245 / 28%) 14.71%, rgb(245 245 245 / 0%) 106.39%);
  border-radius: 61px;
  border: 5px solid transparent;
  // border-image: radial-gradient(47.66% 47.66% at 54.45% 64.92%, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%),
  // radial-gradient(49.34% 46.17% at 55.38% 64.92%, #000000 0%, rgba(0, 0, 0, 0) 100%) 61 round;

  &::after {
    content: "";
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 61px;
    //border: 5px solid transparent;
    background-size: 200% auto;
    background: linear-gradient(151.13deg, rgba(245, 245, 245, 0.28) 14.71%, rgba(245, 245, 245, 0) 106.39%);
    //mask-composite: exclude;
    //opacity: 1;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  h3 {
    font-size: 1.875rem;
    color: var(--accent-color-light);
    line-height: 100%;
  }

  p {
    font-size: 1.125rem;
    line-height: 100%;
    text-align: start;
    letter-spacing: 0.04em;
  }
}

.icon {
  height: 3.25rem;
  width: 3.25rem;

  svg {
    width: 100%;
    color: #fff;
  }
}