.container {
  grid-area: ui;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  justify-content: flex-end;
  height: fit-content;
  margin: auto 0 0 0;
  position: relative;
}

.input {
  resize: none;
  background-color: #4e4e4e;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 1rem;
  color: #fff;
}

.button {
  position: absolute;
  background-color: rgb(182, 182, 182);
  padding: 0.8rem 1rem;
  min-width: 6rem;
  border-radius: 1rem;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.3s all;
  
  @media (any-hover: hover) {
    &:hover {
      background-color: #FEF9CC;
    }
  }
}