.chatBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
}

.text {
  font-size: 16px;
  text-align: right;
}

.icon {
  display: block;
  background: linear-gradient(151.13deg, rgba(245, 245, 245, 0.28) 14.71%, rgba(245, 245, 245, 0) 106.39%);
  border: 1.5px solid #FBE64D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}

@media (width <= 768px) {
  .text {
    font-size: 14px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }
}


.chat {
  position: absolute;
  z-index: 99;
  right: 88px;
  bottom: 0;
  width: 398px;
  height: 653px;
  background: linear-gradient(151.13deg, rgb(245 245 245 / 28%) 14.71%, rgb(245 245 245 / 0%) 106.39%);
  backdrop-filter: blur(25px);
  border-radius: 61px;
  border: 3px solid #FDFACB;

  .header {
    border-bottom: 3px solid #FDFACB;
    padding: 49px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.025em;
      color: var(--accent-color);
      margin-left: 55px;
    }
  }

  .close {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 55px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 25px;
      height: 3px;
      background-color: var(--accent-color-light);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .body {
    padding: 30px;
    overflow: hidden;
    overflow-y: scroll;
    height: 420px;

    .msg-block {
      display: flex;
      flex-direction: column;
      gap: 17px;
    }

    .server {
      border: 1px solid #fff;
      border-radius: 15px;
      padding: 10px 20px;
      min-width: 272px;
      max-width: 272px;
      align-self: flex-start;
      word-wrap: break-word;
    }

    .client {
      border: 1px solid var(--accent-color-light);
      color: var(--accent-color-light);
      border-radius: 15px;
      padding: 10px 20px;
      min-width: 272px;
      max-width: 272px;
      align-self: flex-end;
      word-wrap: break-word;
    }

    ul {
      list-style: none;
    }

    .msg-help-info {
      position: absolute;
      bottom: 111px;
      left: 75px;
      font-size: 1rem;
      letter-spacing: 0.045em;
      color: rgb(255 255 255 / 75%);
    }
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 105px;
    padding: 20px 47px;
    border-top: 1px solid var(--accent-color-light);

    .form {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }

    .button svg {
      width: 30px;
      height: 30px;
    }
  }

  .message-input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--accent-color-light);

    ::placeholder {
      font-style: italic;
      font-weight: 300;
      font-size: 1rem;
      color: rgb(255 255 255 / 75%);
      letter-spacing: 0.045em;
    }
  }
}

@media (width < 768px) {
  .chat {
    right: 0;
    width: 297px;

      .header p {
        margin-left: 10px;
      }

      .close {
        margin-left: 20px;
      }

      .body {
        .server-msg, .client-msg {
          min-width: 200px;
          max-width: 200px;
          word-wrap: break-word;
        }

        .msg-help-info {
          font-size: 0.8rem;
          left: 50px;
        }
    }
    
    .footer {
      padding: 20px 30px;

      .button svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}