.title-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  margin-bottom:6.4375rem ;
}

.title {
  font-size: 3.75rem;
  font-family: var(--font-title);
  line-height: 100%;
  color: var(--accent-color-light);
  letter-spacing: -0.01em;
  padding-bottom: 0.625rem;
}

.decorative-container{ 
  max-width: 13.125rem;
  min-width: 13.125rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.decorative {
  bottom: 0;
  width: 8.6875rem;
  height: 14px;
  background: rgb(196 196 196 / 9%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    margin-left: auto;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(196 196 196 / 9%);
  }

  &::before {
    right: 0;
  }

  &::after {
    right: 30px
  }
}


@media (width <= 992px) {
  .decorative {
    width: 6.875rem;

    &::after {
      right: -22px;
    }
  }

  .decorative-container{
    max-width: 11.6875rem;
    min-width: 4.375rem
  }

  .title {
    font-size: 3rem;
  }

}

@media (width < 768px) {
  .title-block {
    margin-bottom: 2.625rem;
  }

  .title {
    font-size: 1.875rem;
    padding-bottom: 2px;
  }

  .decorative-container{
    max-width: 7.3125rem;
    min-width: 3.125rem;
  }

  .decorative {
    width: 3.125rem;
    height: 5px;

    &::before,
    &::after {
      width: 5px;
      height: 5px;
    }

    &::after {
      right: 10px
    }
  }
}