.title-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 60px;
  font-family: var(--font-title);
  line-height: 100%;
  color: var(--accent-color-light);
  letter-spacing: -0.01em;
  text-align: center;size: 30px;
  
  @media (width <= 992px) {
    font-size: 45px;
  }

  @media (width <= 768px) {
    font-size: 30px;
  }
}

.decorative {
  content: "";
  position: absolute;
  top: 67px;
  left: 0;
  width: 139px;
  border: 7px solid rgb(196 196 196 / 9%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (width <= 992px) {
    top: 50px;
    width: 120px;
  }

  @media (width <= 768px) {
    top: 35px;
    width: 75px;
    border: 4px solid rgb(196 196 196 / 9%);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 165px;
    top: -7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(196 196 196 / 9%);

    @media (width <= 992px) {
      left: 140px;
    }

    @media (width <= 768px) {
      left: 85px;
      width: 10px;
      height: 10px;
      top: -5px
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 190px;
    top: -7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;

    @media (width <= 992px) {
      left: 166px;
    }

    background: rgb(196 196 196 / 9%);

    @media (width <= 768px) {
      left: 101px;
      width: 10px;
      height: 10px;
      top: -5px
    }
  }
}