.success-block {
  max-width: 680px;
  width: 100%;
  border: 3px solid var(--accent-color-light);
  border-radius: 61px;
  padding: 58px 156px;
  background-color: var(--primary-bg);
  margin: 0 auto;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: var(--transition) transform, 
              var(--transition) visibility,
              var(--transition) opacity;
  opacity: 0;
  visibility: hidden;


  @media (width <= 992px) {
    max-width: 587px;
    padding: 42px 120px;
  }

  @media (width <= 768px) {
    max-width: 398px;
    padding: 42px 69px;
  }

  @media (width <= 428px) {
    padding: 42px 5px;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.025em;
    color: var(--accent-color);

    @media (width <= 992px) {
      font-size: 25px;
    }
  }
  
  p {
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    margin-top: 40px;

    &:first-of-type {
      line-height: 140%;
    }
    
    &:last-of-type {
      margin-top: 56px;
      
    }

    @media (width <= 992px) {
      font-size: 18px;
    }
  }

  span {
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.025em;
    color: var(--accent-color-light);

    @media (width <= 992px) {
      font-size: 18px;
    }
  }
}