.lamp {
  // top: -40%;
  // left: 27%;
  position: absolute;
  transform: translateY(-100%) ;
  display: block;

  .light {
    opacity: 0.0;
  }

  @media (width <= 768px) {
      width: 70px;
  }
}

