.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.steps-main-block {
  text-align: center;

  p:not(.step p) {
    font-size: 1.875rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    &:nth-child(1) {
      margin-top: 6rem;
    }

    &:last-child:not(.step p) {
      margin-bottom: 2.25rem;
    }
  }

  @media (width <= 992px ) {
    display: none;
  }
}

.step-container {
  display: flex;
  gap: 3.5625rem;
  margin: 2.0625rem 0 3.375rem 0;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  max-width: 15.625rem;
  width: 100%;
  padding: 12px 25px 27px;
  background: linear-gradient(151.13deg, rgba(245, 245, 245, 0.28) 14.71%, rgba(245, 245, 245, 0) 106.39%);
  backdrop-filter: blur(25px);
  border-radius: 61px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  h3 {
    font-size: 1.875rem;
    color: var(--accent-color-light);
    line-height: 100%;
  }

  p {
    font-size: 1.125rem;
    line-height: 100%;
    text-align: start;
    letter-spacing: 0.04em;
  }
}

.icon {
  height: 3.25rem;
  width: 3.25rem;

  svg {
    width: 100%;
    color: #fff;
  }
}