.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1680px;
  padding: 70px 70px 0;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6.375rem;
  position: relative;

  // background-color: var(--primary-bg);
  // top: 0;
  z-index: 40;
}

@media (width <= 768px) {
  .container {
    padding: 56px 15px 0;
    margin-bottom: 3.75rem;
  }
}
