.form {
  max-width: 58.375rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  &__wrapper {
    border: 3px solid var(--border-color);
    border-radius: 61px;
    padding: 5.625rem;
    width: 100%;
    margin-bottom: 5.0625rem;
  }

.active {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@media (width <= 992px) {
  .form__wrapper {
      padding: 2.625rem 5.125rem 2.25rem;
  }
}

@media (width < 768px) {
  .form__wrapper {
    margin-bottom: 3.375rem;
    border: none;
    padding: 0 1.875rem;
  }
}